!!! 5
mixin settingsButton(value, name)
	- if ( value == "1")
			.btn.btn-success
				i.icon.icon-white.icon-ok
				|  #{name}
	- else
			.btn.btn-danger
				i.icon.icon-white.icon-remove
				|  #{name}			

html
	head
		meta(http-equiv='content-type',content='text/html;charset=iso-8859-9')
		script(src='/js/jquery-1.8.2.min.js', lang='text/javascript')
		script(src='/js/bootstrap.js', lang='text/javascript')
		script(src='/js/panel.js', lang='text/javascript')
		script(src='/socket.io/socket.io.js')
		link(rel='stylesheet', href='/css/bootstrap.css')
		link(rel='stylesheet', href='/css/main.css')
		meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")		
		title Your Panel
	body(style="background-color: #fff")
		.container-fluid
			.row-fluid
				.span6
					canvas.pull-right#videoFeed(width=640,height=480)
				.span6							
					h4 Movement Controls
					.btn-toolbar
						.btn-group#movementBtns
							.btn.btn-large.btn-info(data-cmd="up")
								i.icon.icon-white.icon-arrow-up
							.btn.btn-large.btn-info(data-cmd="down") 
								i.icon.icon-white.icon-arrow-down
							.btn.btn-large.btn-primary(data-cmd="left")
								i.icon.icon-white.icon-arrow-left
							.btn.btn-large.btn-primary(data-cmd="right")
								i.icon.icon-white.icon-arrow-right
							.btn.btn-large.btn-inverse(data-cmd="stop")
								i.icon.icon-white.icon-stop
				.span6
					h4 Camera Controls
					.btn-toolbar
						.btn-group#cameraBtns
							.btn.btn-large.btn-success(data-cmd="play")
								i.icon.icon-white.icon-play
							.btn.btn-large.btn-danger(data-cmd="stop")
								i.icon.icon-white.icon-stop
							.btn.btn-large.btn-inverse(data-cmd="take-pic")
								i.icon.icon-white.icon-camera
							.btn.btn-large.btn-info(data-cmd="left")
								i.icon.icon-white.icon-arrow-left
							.btn.btn-large.btn-info(data-cmd="right")
								i.icon.icon-white.icon-arrow-right
				.span6
					h4 Detection Preferences
					.btn-group#detectionBtns
						mixin settingsButton(values.isBurglar, "Burglar")
						mixin settingsButton(values.isFire, "Fire")
						mixin settingsButton(values.isGasLeak, "Gas Leak")
					h4 Notification Preferences
					.btn-group#notifyBtns
						mixin settingsButton(values.isPolice, "Police")
						mixin settingsButton(values.isFirestation, "Firestation")
						mixin settingsButton(values.isSMS, "SMS")
						mixin settingsButton(values.isEmail, "E-Mail")
				.span6
					#status
						h3 Status
						dl.dl-horizontal
							dt Last Update:
							dd#lastUpdate Never
							dt Battery:
							dd#battery &nbsp;
							br
							dt Current Temperature:
							dd#currentTemp &nbsp;
							dt Temperature (24hr):
							dd#avgTemp &nbsp;
							br 
							dt Gas Levels:
							dd#gas &nbsp;
							dt Incidents (24 hr):
							dd &nbsp;
							br
							dt Driving Mode:
							dd#drivingMode &nbsp;
							dt Hardware:
							dd#hardware Not connected
.modal.hide.fade#modal-useraccount
	.modal-header
		button.close(data-dismiss="modal",aria-hidden="true") &times;				
		h3 Your Account
	.modal-body
		form.form-horizontal
			.control-group
				.control-label Username
				.controls 
					input.input-xlarge(type="text",placeholder="musti")
			.control-group
				.control-label Password
				.controls
					input.input-xlarge(type="password")
			.control-group
				.control-label Email
				.controls
					input.input-xlarge(type="text",placeholder="john@doe.com")
			.control-group
				.control-label Phone Number
				.controls
					input.input-xlarge(type="text",placeholder="+90 123 456 78 90")
	.modal-footer
		.btn(data-dismiss="modal") Cancel
		.btn.btn-primary Update Details