body {

}
.title > span {
	font-weight: bold;
	font-size: 35px;
}
#videoFeed {
	box-shadow: 3px 3px 5px #555;
	background-color: #DDD;
	margin: 15px;
}
#controls {
	vertical-align: top;
	display: inline-block;
	position: relative;
}
.table td {
	vertical-align: middle;
}
#graphs {
	width: 400px;
	height: 400px;
}
